@using HairSalon.Models;

<h1>@Model["specialty"].GetFeature() Specialty:</h1>
<br>
<h2>Stylists with this specialty:</h2>
<ul>
  @if (Model["stylists"].Count == 0){
    <p>There are no stylists that have this specialty yet.</p>
  }
  @if (Model["stylists"].Count != 0)
  {
    @foreach (StylistClass stylist in Model["stylists"])
    {
     <strong><a href='/stylists/@stylist.GetId()'>@stylist.GetName()</a></strong><
    }
  }
</ul>

<h4>Add this specialty to another stylist:</h4>
<form action='/specialties/@Model["specialty"].GetId()/stylists/new' method="post">
  <label for="stylistId">Select a stylist:</label>
  <select id="stylistId" name="stylistId" type="text">
    @foreach (var stylist in @Model["allStylists"]){
      <option value="@stylist.GetId()">@stylist.GetFirstName()</option>
    }
  </select>
  <button type="submit" name="button" class="btn btn-success">Add</button>
</form>
